*{
    margin: 0; padding: 0;
    /*box-sizing: border-box;*/
}
.header{
    height: 100vh;
    background: rgba(0,0,100,0.4);
}
.video-background{
    position: absolute;
    right: 0; bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}
.logo{
    margin: 25px;
    height: 120px;
}
.welcome-msg{
    position: relative;
    text-align: center;
    color: #fff;
    font-family: monospace;
    top: 150px;
}
.welcome-msg h1{
    font-size: 80px;
    letter-spacing: 5px;
    font-weight: 100;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.btn{
    font-size: 18px;
    color: #fff;
    margin: 5px;
    padding: 7px 22px;
    text-decoration: none;
    border: 1px solid coral;
    border-radius: 25px;
}
.btn-subscribe{
    background: #ff7f50;
}
.btn-comment:hover{
    background: #ff7f50;
    transition: .5s;
}

@media (min-aspect-ratio:16/9){
    .video-background{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio:16/9){
    .video-background{
        width: auto;
        height: 100%;
    }
}